<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ghpr.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Ghpr.Core.Properties.Settings>
      <setting name="OutputPath" serializeAs="String">
        <value>C:\_GhprReportFolder</value>
      </setting>
      <setting name="TakeScreenshotAfterFail" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunName" serializeAs="String">
        <value />
      </setting>
      <setting name="Sprint" serializeAs="String">
        <value />
      </setting>
      <setting name="RealTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunGuid" serializeAs="String">
        <value>null</value>
      </setting>
    </Ghpr.Core.Properties.Settings>
  </applicationSettings>
</configuration>